## Q.1

In [1]:
import pandas as pd
import csv

data = {
    "Title": ["The Shawshank Redemption", "Inception", "Pulp Fiction", "The Matrix", "Forrest Gump", "Interstellar", "The Godfather"],
    "Year": [1994, 2010, 1994, 1999, 1994, 2014, 1972],
    "Rating": [9.3, 8.8, 8.9, 8.7, 8.8, 8.6, 9.2],
    "Genre": ["Drama", "Sci-Fi", "Crime", "Sci-Fi", "Drama", "Sci-Fi", "Crime"]
}

with open('movies.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(["Title", "Year", "Rating", "Genre"])
    writer.writerows(zip(data["Title"], data["Year"], data["Rating"], data["Genre"]))

df = pd.read_csv('movies.csv')

print("The movie with the highest rating is:", df.loc[df['Rating'].idxmax()]['Title'])

print("The average rating of movies released in 1994 is:", df[df['Year'] == 1994]['Rating'].mean())

print("There are", df['Genre'].nunique(), "unique genres in the dataset.")

import datetime
current_year = datetime.datetime.now().year
df['Age'] = current_year - df['Year']

print("The genre with the highest average rating is:", df.groupby('Genre')['Rating'].mean().idxmax())

df['Classics'] = df['Age'] > 25

print("The top 3 movies by rating are:")
print(df.sort_values('Rating', ascending=False).head(3))

The movie with the highest rating is: The Shawshank Redemption
The average rating of movies released in 1994 is: 9.000000000000002
There are 3 unique genres in the dataset.
The genre with the highest average rating is: Crime
The top 3 movies by rating are:
                      Title  Year  Rating  Genre  Age  Classics
0  The Shawshank Redemption  1994     9.3  Drama   30      True
6             The Godfather  1972     9.2  Crime   52      True
2              Pulp Fiction  1994     8.9  Crime   30      True

In [10]:
df

                      Title  Year  Rating   Genre  Age  Classics
0  The Shawshank Redemption  1994     9.3   Drama   30      True
1                 Inception  2010     8.8  Sci-Fi   14     False
2              Pulp Fiction  1994     8.9   Crime   30      True
3                The Matrix  1999     8.7  Sci-Fi   25     False
4              Forrest Gump  1994     8.8   Drama   30      True
5              Interstellar  2014     8.6  Sci-Fi   10     False
6             The Godfather  1972     9.2   Crime   52      True

## Q.2

In [2]:
import string
def convert(s):
    dct={}
    ls=[]
    clean_text = s.translate(str.maketrans('', '', string.punctuation)).lower()
    for word in clean_text.split():
        if word in dct:
            dct[word]+=1
        else:
            dct[word]=1
    return dct

s=input()
dt=convert(s)
print(dt)

ok google
{'ok': 1, 'google': 1}

## Q.3

In [11]:
books = [
    {"title": "To Kill a Mockingbird", "author": "Harper Lee", "year": 1960, "pages": 281},
    {"title": "1984", "author": "George Orwell", "year": 1949, "pages": 328},
    {"title": "Pride and Prejudice", "author": "Jane Austen", "year": 1813, "pages": 432},
    {"title": "The Catcher in the Rye", "author": "J.D. Salinger", "year": 1951, "pages": 234},
    {"title": "The Great Gatsby", "author": "F. Scott Fitzgerald", "year": 1925, "pages": 180}
]
ls=[book["title"] for book in books if book["year"] < 1950]
print(ls)
dct={book["title"]:book["pages"] for book in books}
print(dct)
def func(books,pg_count):
    return [book for book in books if book["pages"] > pg_count]

['1984', 'Pride and Prejudice', 'The Great Gatsby']
{'To Kill a Mockingbird': 281, '1984': 328, 'Pride and Prejudice': 432, 'The Catcher in the Rye': 234, 'The Great Gatsby': 180}

## Q.4

In [4]:
ls=list(map(int,input().split()))
count=0
for i in ls:
        if i%2==0:
            count+=1
print(count)

1 4 3 7 9 2
2

## Q.1 (ChatGPT)

In [5]:
import pandas as pd

# Create a DataFrame with the given data
data = {
    "Title": [
        "The Shawshank Redemption", "Inception", "Pulp Fiction", 
        "The Matrix", "Forrest Gump", "Interstellar", "The Godfather"
    ],
    "Year": [1994, 2010, 1994, 1999, 1994, 2014, 1972],
    "Rating": [9.3, 8.8, 8.9, 8.7, 8.8, 8.6, 9.2],
    "Genre": ["Drama", "Sci-Fi", "Crime", "Sci-Fi", "Drama", "Sci-Fi", "Crime"]
}

df = pd.DataFrame(data)

# Save the DataFrame to a CSV file
df.to_csv('movies.csv', index=False)

# Read the CSV file
df = pd.read_csv('movies.csv')

# a) Which movie has the highest rating?
highest_rated_movie = df[df['Rating'] == df['Rating'].max()]['Title'].iloc[0]

# b) What is the average rating of movies released in 1994?
average_rating_1994 = df[df['Year'] == 1994]['Rating'].mean()

# c) How many unique genres are there in the dataset?
unique_genres = df['Genre'].nunique()

# d) Create a new column 'Age' that shows how old the movie is (current year - release year).
current_year = 2024
df['Age'] = current_year - df['Year']

# e) Which genre has the highest average rating?
highest_avg_rating_genre = df.groupby('Genre')['Rating'].mean().idxmax()

# f) Create a 'Classics' column: True if the movie is older than 25 years, False otherwise.
df['Classics'] = df['Age'] > 25

# g) Sort the dataframe by rating in descending order and display the top 3 movies.
top_3_movies = df.sort_values(by='Rating', ascending=False).head(3)

# Output the results
print("a) Movie with the highest rating:", highest_rated_movie)
print("b) Average rating of movies released in 1994:", average_rating_1994)
print("c) Number of unique genres:", unique_genres)
print("d) DataFrame with 'Age' column added:\n", df)
print("e) Genre with the highest average rating:", highest_avg_rating_genre)
print("f) DataFrame with 'Classics' column added:\n", df)
print("g) Top 3 movies sorted by rating:\n", top_3_movies)

a) Movie with the highest rating: The Shawshank Redemption
b) Average rating of movies released in 1994: 9.000000000000002
c) Number of unique genres: 3
d) DataFrame with 'Age' column added:
                       Title  Year  Rating   Genre  Age  Classics
0  The Shawshank Redemption  1994     9.3   Drama   30      True
1                 Inception  2010     8.8  Sci-Fi   14     False
2              Pulp Fiction  1994     8.9   Crime   30      True
3                The Matrix  1999     8.7  Sci-Fi   25     False
4              Forrest Gump  1994     8.8   Drama   30      True
5              Interstellar  2014     8.6  Sci-Fi   10     False
6             The Godfather  1972     9.2   Crime   52      True
e) Genre with the highest average rating: Crime
f) DataFrame with 'Classics' column added:
                       Title  Year  Rating   Genre  Age  Classics
0  The Shawshank Redemption  1994     9.3   Drama   30      True
1                 Inception  2010     8.8  Sci-Fi   14     False
2              Pulp Fiction  1994     8.9   Crime   30      True
3                The Matrix  1999     8.7  Sci-Fi   25     False
4              Forrest Gump  1994     8.8   Drama   30      True
5              Interstellar  2014     8.6  Sci-Fi   10     False
6             The Godfather  1972     9.2   Crime   52      True
g) Top 3 movies sorted by rating:
                       Title  Year  Rating  Genre  Age  Classics
0  The Shawshank Redemption  1994     9.3  Drama   30      True
6             The Godfather  1972     9.2  Crime   52      True
2              Pulp Fiction  1994     8.9  Crime   30      True

## Q.2 (ChatGPT)

In [7]:
import re
from collections import Counter

def word_frequency(s):
    # Remove punctuation and convert to lowercase
    s = re.sub(r'[^\w\s]', '', s).lower()
    
    # Split the string into words
    words = s.split()
    
    # Count the frequency of each word
    freq = Counter(words)
    
    return dict(freq)
input_string = "The quick brown fox jumps over the lazy dog. The dog barks."
output = word_frequency(input_string)
print(output)

{'the': 3, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog': 2, 'barks': 1}

## Q.3 (ChatGPT)

In [8]:
titles_before_1950 = [book["title"] for book in books if book["year"] < 1950]
print(titles_before_1950)

title_pages = {book["title"]: book["pages"] for book in books}
print(title_pages)

def books_with_min_pages(books, min_pages):
    return [book for book in books if book["pages"] > min_pages]
print(books_with_min_pages(books, 300))

['1984', 'Pride and Prejudice', 'The Great Gatsby']
{'To Kill a Mockingbird': 281, '1984': 328, 'Pride and Prejudice': 432, 'The Catcher in the Rye': 234, 'The Great Gatsby': 180}
[{'title': '1984', 'author': 'George Orwell', 'year': 1949, 'pages': 328}, {'title': 'Pride and Prejudice', 'author': 'Jane Austen', 'year': 1813, 'pages': 432}]

## Q.4 (ChatGPT)

In [9]:
#ChatGPT Q.4
def count_even_elements(arr):
    even_count = 0
    for num in arr:
        if num % 2 == 0:
            even_count += 1
    return even_count

# Example usage:
arr = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
print(count_even_elements(arr))

3